<h2 class="reminder-heading">{{list_id.title}}</h2>


<ul class="reminder-list">
  <li class="reminder-list-item">
  </li>
</ul>
<form class="new-form" {{action saveReminder model name on="submit"}}>
  <div class="input-container">
    {{input class="new-input" placeholder="What do you want to do?" type="text" value=name}}

    <button class="save-list">Accept</button>
  </div>
</form>
