

<h2 class="reminder-heading">{{model.id.title}}</h2>
<form class="new-form">
<div class="input-container">
  {{input class="new-input" placeholder="What do you want to do?" type="text"}}
  <button class="save-list">Accept</button>
</div>
</form>
