<div class="new-form-wrap">
<h2>New List</h2>
<form class="new-form">
  <div class="input-container">
  {{input class="new-input" type="text" placeholder="New List"}}
  <button class="save-list">Save</button>
  </div>
</form>
</div>
